.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
#carousel-container{
    width: 68%;
    margin-left: 35px;
    float: left;
    margin-right: 68px;
}

#signInInfo{
    text-align: center;
    display: none;
}

.container{
    margin-top: 15px;
    background: none;
}




