.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
#carousel-container{
    width: 68%;
    margin-left: 35px;
    float: left;
    margin-right: 68px;
}

#signInInfo,
#signUpInfo{
    text-align: center;
    display: none;
}


.container{
    margin-top: 15px;
    background: none;
}

.navbar{
    font-family: 'Anton', sans-serif;
}

.btn{
    font-family: 'Anton', sans-serif;
    background-color: orange;
    border-color: red;
}
.btn:hover{
    border-color: orange;
    background-color: red;
}

